- if @next_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@next_page}"} Next Page
- if @previous_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 10px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@previous_page}"} Prev Page

%br
%div
    #{@total_count} Results
%br

%form{:action => "/dataset/aggregateview", :method => "get"}
    .form-group
        %label{:for => "name"} Peptide
        %input.form-control{:type => "text", :name => "peptide", :class => "text", :value => "#{@peptide_input}"}
        %p
        %label{:for => "aboutme"} Protein
        %input.form-control{:type => "text", :name => "protein", :class => "text", :value => "#{@protein_input}", :class => "dataset_protein_input"}
        %p
        %label{:for => "aboutme"} Modification
        %input.form-control{:type => "text", :name => "mod", :class => "text", :value => "#{@modification_input}", :class => "dataset_mod_input"}
    %input.btn.btn-default{:type => "submit", :value => "Update Datasets"} 


%table.table.table-striped.table-condensed.tablesorter
    %thead
        %tr
            %th Dataset Name
            %td View PSMs
            %th Proteins
            %th Peptides
            %th PSMs
    - @datasets.each do |dataset|
        %tr
            %td{:style=>"vertical-align:middle"}= dataset.name
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"margin-right: 20px;", :href => "/psms/aggregateview?peptide=#{@peptide_input}&protein=#{@protein_input}&mod=#{CGI.escape(@modification_input)}&dataset=#{dataset.name}"} View PSMs
            %td{:style=>"vertical-align:middle"}= DatasetProtein.count(:dataset => dataset)
            %td{:style=>"vertical-align:middle"}= DatasetPeptide.count(:dataset => dataset)
            %td{:style=>"vertical-align:middle"}= Peptidespectrummatch.count(:dataset => dataset)



:javascript
    all_proteins = #{@all_proteins.to_json}
    all_modifications = #{@all_modifications.to_json}

    $(function() {
        $( ".dataset_mod_input" ).autocomplete({
          source: all_modifications
        });
        $( ".dataset_protein_input" ).autocomplete({
          source: all_proteins
        });
    });
