%div#spectruminformation
    %table.table.table-striped.table-condensed.tablesorter
        %tr
            %td{:style=>"vertical-align:middle"}= "Peptides"
            %td{:style=>"vertical-align:middle"}= Peptide.count
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"", :href => "/peptide/aggregateview"} View Peptides
        %tr
            %td{:style=>"vertical-align:middle"}= "PSMs"
            %td{:style=>"vertical-align:middle"}= Peptidespectrummatch.count
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"", :href => "/psms/aggregateview"} View PSMs
        %tr
            %td{:style=>"vertical-align:middle"}= "Protein"
            %td{:style=>"vertical-align:middle"}= Protein.count
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"", :href => "/protein/aggregateview"} View Proteins
        %tr
            %td{:style=>"vertical-align:middle"}= "Modifications"
            %td{:style=>"vertical-align:middle"}= Modification.count
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"", :href => "/modification/aggregateview"} View Modifications
        %tr
            %td{:style=>"vertical-align:middle"}= "Datasets"
            %td{:style=>"vertical-align:middle"}= Dataset.count
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"", :href => "/dataset/aggregateview"} View Dataset