- if @next_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@next_page}"} Next Page
- if @previous_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 10px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@previous_page}"} Prev Page

%table.table.table-striped.table-condensed.tablesorter
    %thead
        %tr
            %th
            %th
            %th
            %th
            %th Mod Name
    - @all_modifications.each do |modification|
        %tr
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"margin-right: 20px", :href => "/dataset/aggregateview?mod=#{modification.name}"} View Datasets
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"margin-right: 20px", :href => "/peptide/aggregateview?mod=#{modification.name}"} View Peptides
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"margin-right: 20px", :href => "/psms/aggregateview?mod=#{modification.name}"} View PSMs
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"margin-right: 20px", :href => "/protein/aggregateview?mod=#{modification.name}"} View Proteins
            %td{:style=>"vertical-align:middle"}= modification.name

