- if @next_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@next_page}"} Next Page
- if @previous_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 10px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@previous_page}"} Prev Page

%form{:action => "/peptide/aggregateview", :method => "get"}
    .form-group
        %label{:for => "name"} Peptide
        %input.form-control{:type => "text", :name => "peptide", :class => "text", :value => "#{@peptide_input}"}
        %p
        %label{:for => "aboutme"} Protein
        %input.form-control{:type => "text", :name => "protein", :class => "text", :value => "#{@protein_input}", :class => "dataset_protein_input"}
        %p
        %label{:for => "aboutme"} Modification
        %input.form-control{:type => "text", :name => "mod", :class => "text", :value => "#{@modification_input}", :class => "dataset_mod_input"}
    %input.btn.btn-default{:type => "submit", :value => "Update Peptides"} 


%table.table.table-striped.table-condensed.tablesorter
    %thead
        %tr
            %th
            %th
            %th
            %th Sequence
            %th PSM Count
    - @all_peptides.each do |peptide|
        %tr
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"margin-right: 20px;", :href => "/protein/aggregateview?peptide=#{peptide.sequence}&protein=#{@protein_input}&mod=#{@modification_input}"} View Proteins
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"margin-right: 20px;", :href => "/dataset/aggregateview?peptide=#{peptide.sequence}&protein=#{@protein_input}&mod=#{@modification_input}"} View Datasets
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"margin-right: 20px;", :href => "/psms/aggregateview?peptide=#{peptide.sequence}&protein=#{@protein_input}&mod=#{@modification_input}"} View PSMs
            %td{:style=>"vertical-align:middle"}= peptide.sequence
            %td{:style=>"vertical-align:middle"}= peptide.peptidespectrummatch.count


:javascript
    all_proteins = #{@all_proteins.to_json}
    all_modifications = #{@all_modifications.to_json}

    $(function() {
        $( ".dataset_mod_input" ).autocomplete({
          source: all_modifications
        });
        $( ".dataset_protein_input" ).autocomplete({
          source: all_proteins
        });
    });

