- if @next_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@next_page}#{@sort_string}"} Next Page
- if @previous_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 10px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@previous_page}#{@sort_string}"} Prev Page

%br
%div
    #{@total_count} Results
%br

%form{:action => "/protein/aggregateview", :method => "get"}
    .form-group
        %label{:for => "name"} Peptide
        %input.form-control{:type => "text", :name => "peptide", :class => "text", :value => "#{@peptide_input}"}
        %p
        %label{:for => "aboutme"} Protein
        %input.form-control{:type => "text", :name => "protein", :class => "text", :value => "#{@protein_input}", :class => "dataset_protein_input"}
        %p
        %label{:for => "aboutme"} Modification
        %input.form-control{:type => "text", :name => "mod", :class => "text", :value => "#{@modification_input}", :class => "dataset_mod_input"}
    %input.btn.btn-default{:type => "submit", :value => "Update Proteins"} 


%table.table.table-striped.table-condensed.tablesorter
    %thead
        %tr
            %th
            %th
            %th
            %th
                Protein Name
                %div.btn-group{:role => "group"}
                    %a.btn.btn-default.btn-xs.glyphicon.glyphicon-menu-down{:style=>"", :href => "#{@request_path}?#{@param_string}&page=#{@page_number}&sort=down&sorttype=protein"}
                    %a.btn.btn-default.btn-xs.glyphicon.glyphicon-menu-up{:style=>"", :href => "#{@request_path}?#{@param_string}&page=#{@page_number}&sort=up&sorttype=protein"}
            %th Peptides
            %th PSMs
            %th Mods
            %th Datasets
    - @all_proteins.each do |protein|
        %tr
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"margin-right: 20px;", :href => "/dataset/aggregateview?peptide=#{@peptide_input}&protein=#{protein.name}&mod=#{CGI.escape(@modification_input)}"} View Datasets
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"margin-right: 20px;", :href => "/peptide/aggregateview?peptide=#{@peptide_input}&protein=#{protein.name}&mod=#{CGI.escape(@modification_input)}"} View Peptides
            %td
                %a.btn.btn-default.btn-sm.pull-right{:style=>"margin-right: 20px;", :href => "/psms/aggregateview?peptide=#{@peptide_input}&protein=#{protein.name}&mod=#{CGI.escape(@modification_input)}"} View PSMs
            %td{:style=>"vertical-align:middle"}= protein.name
            %td{:style=>"vertical-align:middle"}= protein.peptides.count
            %td{:style=>"vertical-align:middle"}= Peptidespectrummatch.count(:protein => protein)
            %td{:style=>"vertical-align:middle"}= protein.modifications.count
            %td{:style=>"vertical-align:middle"}= protein.datasets.count

:javascript
    all_proteins = #{@all_proteins_autocomplete.to_json}
    all_modifications = #{@all_modifications.to_json}

    $(function() {
        $( ".dataset_mod_input" ).autocomplete({
          source: all_modifications
        });
        $( ".dataset_protein_input" ).autocomplete({
          source: all_proteins
        });
    });
