%div#spectruminformation
    %table.table.table-striped.table-condensed.tablesorter
        %tr
            %td{:style=>"vertical-align:middle"}= "Peptide"
            %td{:style=>"vertical-align:middle"}= @psm.DatasetPeptide.peptide.sequence
        %tr
            %td{:style=>"vertical-align:middle"}= "Dataset"
            %td{:style=>"vertical-align:middle"}= @psm.DatasetPeptide.dataset.name
        %tr
            %td{:style=>"vertical-align:middle"}= "Filename"
            %td{:style=>"vertical-align:middle"}= @psm.filename
        %tr
            %td{:style=>"vertical-align:middle"}= "Scan"
            %td{:style=>"vertical-align:middle"}= @psm.scan
        %tr
            %td{:style=>"vertical-align:middle"}= "Tab File"
            %td{:style=>"vertical-align:middle"}= @psm.tabfile