- if @next_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@next_page}"} Next Page
- if @previous_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 10px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@previous_page}"} Prev Page

%table.table.table-striped.table-condensed.tablesorter
    %thead
        %tr
            %th
            %th filename
            %th scan
            %th sequence
    - @psms.each do |psm|
        %tr
            %td
                %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "/psm/#{psm.id}"} View PSM
            %td{:style=>"vertical-align:middle"}= psm.filename
            %td{:style=>"vertical-align:middle"}= psm.scan
            %td{:style=>"vertical-align:middle"}= psm.variant.sequence