- if @next_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@next_page}"} Next Page
- if @previous_page != nil
    %a.btn.btn-default.pull-right{:style=>"margin-right: 10px; margin-bottom: 20px", :href => "#{@request_path}?#{@param_string}&page=#{@previous_page}"} Prev Page

%table.table.table-striped.table-condensed.tablesorter
    %thead
        %tr
            %th
            %th Dataset Name
    - @datasets.each do |dataset|
        %tr
            %td
                %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "/variant/#{@peptide}/dataset/#{dataset.id}/psm/list"} View PSMs
            %td{:style=>"vertical-align:middle"}= dataset.name